.embla {
  position: relative;
  width: 100%;
}

.embla__container {
  display: flex;
  position: relative;
  width: 100%;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.embla__button {
  position: absolute;
  top: 55%;
  transform: translateY(65%);

  cursor: pointer;
}

.embla__button:not(:disabled) {
  cursor: pointer;
  fill: #7693e7;
}

.embla__button:disabled {
  fill: #3e3e3e;
}

.embla__button__svg {
  width: 1rem;
  height: 1rem;
}

/* carousel.module.css */
.prev {
  left: -1.5rem; /* 왼쪽 가장자리로 조정 */
}

.next {
  right: -1.5rem; /* 오른쪽 가장자리로 조정 */
}

.embla__dots {
  position: absolute;
  margin-top: 1rem;
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
  left: 0;
  right: 0;
  top: 95%;
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  border: 0;
  display: flex;
  align-items: center;
}

.embla__dot:after {
  background-color: #d9d9d9;
  width: 100%;
  height: 0.7rem;
  border-radius: 50%;
  content: '';
}

.is-selected:after {
  background-color: #7693e7;
  width: 100%;
  height: 0.7rem;
  border-radius: 50%;
  content: '';
}

.embla__viewport {
  overflow: hidden;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__viewport.is-wheel-dragging {
  cursor: move;
  cursor: grab;
}
