@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('/public/fonts/PretendardVariable.woff2') format('woff2-variations');
}

body {
  font-family: 'Pretendard', sans-serif;
}

.ProseMirror:focus {
  outline: none;
}

/* NOTE : 섹션 제목 */
.tiptap.ProseMirror > h1:first-child,
.tiptap.ProseMirror > h2:first-child,
.tiptap.ProseMirror > h3:first-child {
  margin-top: 0;
}

.tiptap h1 {
  @apply text-3xl font-bold;
  @apply mt-8 mb-1;
  @apply leading-normal;
}

.tiptap h2 {
  @apply text-2xl font-bold;
  @apply mt-8 mb-1;
  @apply leading-normal;
}

.tiptap h3 {
  @apply text-xl font-bold;
  @apply mt-8 mb-1;
  @apply leading-normal;
}

/* NOTE : list */
.tiptap ul {
  @apply list-disc;
  @apply px-4 py-2;
}

.tiptap ol {
  @apply list-decimal;
  @apply px-4 py-2;
}

/* NOTE : 인용 */
.tiptap blockquote {
  @apply italic border-l-4 border-gray-300 ml-0 mr-0 pl-4 text-gray-600;
  @apply p-4 m-4;
}

/* NOTE : 코드블럭 감싸는 태그 */
.tiptap pre {
  @apply bg-gray-100 p-4 m-2 overflow-x-auto rounded-lg;
}

/* NOTE : 코드 입력 태그 */
.tiptap code {
  @apply bg-gray-100 font-mono font-bold text-blue-900 my-1 py-1 px-2 rounded;
}

/* NOTE : 기본 텍스트 */
.tiptap p {
  @apply text-base;
  @apply leading-normal;
}
