/* graph.module.css */

@keyframes blinking {
  0%,
  100% {
    fill: var(--original-color);
  }
  20%,
  80% {
    fill: white;
  }
  40%,
  60% {
    fill: var(--original-color);
  }
  50% {
    fill: white;
  }
}

.blinking-node {
  animation: blinking 4s ease-in infinite;
}

@keyframes flowAnimation {
  to {
    stroke-dashoffset: 100;
  }
}

.flow {
  stroke-dasharray: 15;
  animation: flowAnimation 2s linear infinite;
}
