/* graph.module.css */

@keyframes blinking {
  0%,
  100% {
    fill: var(--original-color);
  }
  20%,
  80% {
    fill: white;
  }
  40%,
  60% {
    fill: var(--original-color);
  }
  50% {
    fill: white;
  }
}

.blinking-node {
  animation: blinking 4s ease-in infinite;
}
