.triangle {
  width: 0;
  height: 0;
  border-bottom: 5px solid black;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 0 auto;
}
.latestLoginLabel {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  align-self: center;
  z-index: 1000;
}
